<!DOCTYPE html>
<head>
    <title>Get Schwifty</title>
    
    <script src="../../bootstrapper/Bootstrapper.js"></script>
    <script src="../../Model/Board.js"></script>
    <script src="../../Model/Card.js"></script>
    <script src="../../Model/EmptyCard.js"></script>
    <script src="../../Model/BoardBuidlerBase.js"></script>
    <script src="../../Model/GameBoardBuilder.js"></script>
    <script src="../../Controller/ViewControl.js"></script>
    <script src="../../Controller/GeneratorBase.js"></script>
    <script src="../../Controller/Generator.js"></script>
    <script src="../../Controller/Game.js"></script>
    <script src="../../View/BoardDisplayer.js"></script>
    <script src="../../View/Displayer.js"></script>
    <script src="index.js"></script>

    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
    <div class="container">
        <p class="title">Get Schwifty</h1>
        <p class="subtitle">Best Game Ever.</h1>
        <div class="grid-container">
            <div id="board" class="grid">
                <div class="card">
                    <button class="card-button">
                        1
                    </button>
                </div>
                <div class="card">2</div>
                <div class="card">3</div>
                <div class="card">4</div>
                <div class="card">5</div>
                <div class="card">6</div>
                <div class="card">7</div>
                <div class="card">8</div>
                <div class="card">9</div>
            </div>
        </div>
    </div>
</body>